header {
    background-color: red;
    border: 1px solid red;
    height: 74px;

}

body {
    border: 1px solid purple;
    width: 1120px;
    background-color: white;
    margin: auto;
    margin-top: 100px;

}

footer {
    background-color: green;
    border: 1px solid green;
    height: 50px;
}

#coluna1 {
    background-color: blue;
    border: 1px solid blue;
    width: 325px;
    height: 920px;
}

#coluna2 {
    background-color: purple;
    border: 1px solid purple;
    width: 1490px;
    height: 920px;
}
#foto{
    border: 1px solid red;
    height: 300px;
    margin-top: 89px;
}
img{
    margin-left: 72px;
    height: 300px;
    width: 250px;
}
.nome_sinopse{
border: 1px solid greenyellow;
width: 680px;
height: 200px;
margin-top:50px;
padding-left: 30px;
padding-top: 3px;

}
.opçoes_trailer{
    border: 1px solid pink;
    width: 780px;
    height: 320px;
}
.opçoes {
border: 1px solid red;
height: 310px;
width: 200px;
margin-right: 15px;
padding-left: 30px;
line-height: 7px;
}
.trailer{
    border: 1px solid yellow;
    height: 320px;
    width: 600px;
}
.notas p{
margin-left: 180px;
}
.container_comentario {
    border: 1px solid orange;
    height: 310px;
    width: 730px;
    margin:auto;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    margin-left:20px;
    padding-top: 10px;
}
.comentario{
    margin-top: 2px;
    border: 1px solid;
    height: 300px;
    width: 730px;
    background-color: wheat;
    border-radius: 1%;
}
h1{
    color: white;
    font-weight: bold;
}
p{
    color: white;
}
.streamings{
    border: 1px solid cornflowerblue;
    width:200px;
    height: 30px;
    display: block;
}
.streamings img{
    border: 1px solid violet;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    

}

#streamings a {
    margin: 0px;
    font-size: 15px;
    
    
}
.informacao{
    border: 1px solid navy;
    width: 210px;
    height: 120px;
}
#netflix{
    position: relative;
    right: 72px;
}
#prime_video{
    position: relative;
    bottom: 32px;
    right: 37px;
}
#claro_video{
    position: relative;
    bottom: 64px;
    right: 2px;

}
#Max {
    position: relative;
    left: 33px;
    bottom: 96px;
}
#apple_TV{
    position: relative;
    bottom: 128px;
    left: 68px;
}