header{
    position: absolute;
    width: 1481px;
    height: 74px;
    left: 0px;
    top: 0px;

    background: #CCCACA;
}

#nomeSite{
    position: absolute;
    width: 200px;
    height: 0px;
    left: 100px;
    top: 1px;

}

#home{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 33px;
    top: 15px;

    background: #463E3E;
    border-radius: 10px;
}

#poster{
    position: absolute;
    width: 300px;
    height: 360px;
    left: 72px;
    top: 163px;
}

h1{
    position: absolute;
    width: 700px;
    height: 0px;
    left: 562px;
    top: 95px;
}

.sinopseFilme{
    position: absolute;
    width: 700px;
    height: 0px;
    left: 562px;
    top: 150px;
}

.infosFilme{
    position: absolute;
    height: 0px;
    left: 562px;
    top: 390px;
}

.streamings{
    position: absolute;
    width: 200px;
    height: 38px;
    top: 110px;
}

#trailer{
    position: absolute;
    left: 800px;
    top: 403px;
}

article{
    position: absolute;
    width: 676px;
    height: 0px;
    left: 619px;
    top: 750px;
}

footer {
    position: absolute;
    width: 1481px;
    height: 77px;
    left: 0px;
    top: 947px;

    background-color: #CCCACA;
}