body { 
    background-color: rgb(241, 232, 232);
}

.dark-mode {
    background-color: #222;
}
 

h1 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.dark-mode h1 {
    color: rgb(255, 255, 255);
}

  

header {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
    background-color: transparent;
    
}



.dark-mode header {
    background-color: transparent;
    color: #000000;
    
}


header a {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 14px;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    transition: 0.2s;
    
}

header a:hover {
    border: 2px solid black;
    padding: 10px;
    border-radius: 30px;
    color: black;
    background-color: #fff;
}

.dark-mode header a {
    color: rgb(255, 255, 255);
}

.dark-mode header a:hover {
    border: 2px solid #c9c7c7;
    color: #f2f3ff;
    background-color: #3c3c3d;
}



nav {
    display: flex;
}

#nav1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#nav2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

  
header img {
    text-decoration: none;
    width: 30px;
    height: 30px;
    margin-top: -6px;
    background-color: rgb(241, 232, 232);

}

header img:hover {
    padding: 3px;
    background-color: rgb(241, 232, 232);
}

.dark-mode header img {
    text-decoration: none;
    width: 30px;
    height: 30px;
    margin-top: -4px;
    background-color: rgb(241, 232, 232);
    border-radius: 50%;

}

.dark-mode header img:hover {
    padding: 3px;
    background-color: rgb(241, 232, 232);
    border-radius: 100%;
}


header button {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    transition: 0.2s;
    border: 2px solid rgb(241, 232, 232);
    border-radius: 20px;
    margin: 0 14px;
    background-color: rgb(241, 232, 232);
    margin-top: -2px;

}

header button:hover {
    border: none;
    padding: 10px;
    border-radius: 30px;
    color: #000000;
    background-color: rgb(241, 232, 232);
}


.dark-mode header button {
    color: #ffffff;
    border: #7e7e7e;
    background-color: #222;

}

.dark-mode header button:hover {
    border: none;
    color: none;
    background-color: #222;
    padding: 7px;

}


#home {

    width: auto;
    height: 300px;
    align-content: center;
    background-color: rgb(143, 143, 143);
    border-top: 5px solid #132122;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: 0.2;
    
}

#home img  {
    display: flex;
    width: 130px;
    padding: 30px;
    border: 3px solid #132122;
    border-radius: 30px;
    background-color: rgb(212, 210, 208);
    
}
#home p {
    font-weight: bold;
    color: rgb(26, 25, 25);
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}


#home audio::-webkit-media-controls-panel {
    background-color: #ffffff;
}




.dark-mode #home {
    background-color: rgb(66, 66, 66);
    border-top: 5px solid #56797c;
}

.dark-mode #home img  {
    border: 3px solid #56797c;
    background-color: rgb(63, 59, 53);
    
}
.dark-mode #home p {
    color: rgb(221, 221, 221);
}

.dark-mode #home audio::-webkit-media-controls-panel {
    background-color: #adadad;
}


#menu {
    background-color: #909b9b;
    border-top: 1px solid #909b9b;
    width: auto;
    border-bottom: 5px solid #132122;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    min-height: 395px;
    max-height: 1200px;
}

#menu img:hover{
    border: 5px solid #302d2d;
    margin: 7px;
    border-radius: 10px;
    width: 200px;
}

.dark-mode #menu {
    background-color: rgb(117, 117, 117);
    border: 2px solid rgb(117, 117, 117);
}

.dark-mode #menu img:hover{
    border: 5px solid #d1cece;
}


.nav_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-between;
    padding: 6px;
    
}

.nav_menu a {
    margin: 0px;
}

.nav_menu img {
    width: 200px;
    height: 125px;
    border-radius: 10px;
    transition: 0.2s;
}


#footer-title-1 {
    margin-left: 153px;
    display: inline-flex;
}

#footer-title-2 {
    margin-left: 377px;
    display: inline-flex;
}


footer {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
    background-color: transparent;
    flex-wrap: wrap;
    min-height: 45px;
    max-height: 300px;
 
}
.dark-mode footer {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
    background-color: transparent;
 
}



footer a {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 14px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.2s;
}
.dark-mode footer a {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 14px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: 0.2s;
}

footer a:hover {
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 30px;
    color: #000000;
    background-color: #fff;
    border: 2px solid #000000;
}

.dark-mode #footer a:hover {
    background-color: #3c3c3d;
    border: 2px solid ;
    border: 2px solid #c9c7c7;

}


#footer img {
    width: 20px;
}


.dark-mode #footer img {
    border-radius: 100%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}


#footer {   
    margin-left: -40px;
}










