body { 
    background-color: black;
}
 
h1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
  

header {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
    background-color: #000000;
    color: #fff;
    border: 2px solid red;
}
  

nav {
    display: flex;
}

  
a {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 14px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.2s;
}

a:hover {
    border: 2px solid #1db7c2;
    padding: 10px;
    border-radius: 30px;
    color: #eb1717;
    background-color: #fff;
}




#home {
    border: 2px solid rgb(51, 180, 51);
    width: auto;
    height: 300px;
    align-content: center;
    background-color: black;
    
}
#home img  {
    display: flex;
    width: 125px;
    padding: 30px;
    border: 2px solid red;
    border-radius: 100%;
    background-color: rgb(63, 60, 57);
    
}
#home p {
    color: antiquewhite;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}
#menu {
    border: 2px solid rgb(255, 213, 27);
    width: auto;
    height: 300px;
}
#contact {
    border: 2px solid rgb(230, 14, 230);
    width: auto;
    height: 300px;
}



footer {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
    background-color: #000000;
    color: #fff;
    border: 2px solid rgb(4, 19, 223);   
}

#footer a:hover {
    background-color: #3a3838;

}

form {
    color: white;
    margin-bottom: 2px;

}

input {
    padding: 2px;
}


.nav_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 350px;
    margin-right: 350px;
    border: 2px solid rgb(214, 127, 127);
    justify-content: space-between;
    

    
}
.nav_menu a {
    margin: 30px;
    border: 2px solid red;
    align-content: center;
}

#menu {
    flex-wrap: wrap;
    flex-direction: row;
    transition: 0.2s;
}