/* Seção de Informações  */
#sobre {
    background-color: rgb(216, 210, 210);
    border-radius: 30px;
    width: 475px;
    height: 380px;
    margin-top: -10px;
    padding-top: 15px;
}

/* Modo Noturno */
.dark-mode #sobre {
    background-color: rgb(117, 117, 117);
}


/* Div onde está as informações */
#about {
    background-color: rgb(100, 97, 97);
    width: 500px;
    height: 470px;
    border-bottom: 5px solid #132122;
    border-top: 5px solid #132122;
    border-right: 6px solid #132122;
    border-left: 2px solid #132122;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Modo Noturno */
.dark-mode #about {
    background-color: rgb(88, 88, 88);
    border-top: 5px solid #56797c;
    border-bottom: 5px solid #56797c;
    border-right: 6px solid #56797c;
    border-left: 2px solid #56797c;
}


/* Posição do Titulo na seção */
#about h1 {
    margin-top: 7px;
}


/* Cor das Informações */ 
#sobre p {
    background-color: #fff;
}

/* Modo Noturno */
.dark-mode #sobre p {
    color: rgb(255, 255, 255);
    background-color: #888787;
}

/* Posição do Rodapé na página */
#footer-title-1 {
    position: absolute;
    top: 100%;
    left: 60%;
    transform: translate(-50%, -50%);
}

#footer-title-2 {
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translate(-50%, -50%);
    
}

footer {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}
